<link href="list-user.component.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          categorie : <input type="text" [(ngModel)]="category">
          <table class="table user-list">
            <thead>

            <tr  >
              <th><span>User</span></th>

              <th class="text-center"><span>id</span></th>
              <th><span>delet</span></th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let u of list; let j=index">
              <div *ngIf="u.accountCategory == category">
              <td>
                <img [src]="u.picture">
                <a href="#" class="user-link">{{u.firstName}}</a>
                <span class="user-subhead">**{{j}}**</span>
              </td>

              <td class="text-center">
                <span class="label label-default">{{u.id}}</span>
              </td>
              <td>
                <a href="#"><button  [disabled]="u.accountCategory === 'Admin'" (click)="delete(j)" >Delete</button>
                  <button  class="accordion-button  " *ngIf="u.accountCategory != 'Admin'" (click)="delete(j)" >Delete</button>
                  <button  class="accordion-button " [hidden]="u.accountCategory === 'Admin'" (click)="delete(j)" >Delete</button></a>
              </td>
              </div>

            </tr>


            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
